body {
  background-image: url("tv.gif");
  background-size: cover;
  background-repeat: no-repeat;
  color: lavender;
  font-family: fantasy;
}

#res {
  font-size: 30px;
}
input{
  margin: 40px;
}

.points {
  background: rgba(0, 100, 0, 0.5);
  min-height: 200px;
  margin: auto;
  text-align: center;
  max-width: 30%;
}
.p1 {
  flex: 30%;
  background: rgba(100, 20, 80, 0.5);
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  color: lavender;
  min-height: 100px;
  text-align: center;
}
.p2 {
  flex: 30%;
  background: rgba(20, 20, 100, 0.5);
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  color: lavender;
  text-align: center;
  min-height: 100px;
}
p {
  margin-top: 50px;
  font-size: 50px;
}

  .row {
    display: flex;
    margin-bottom: 80px;
  }
.explanation p {
  font-size: 25px;
}
.explanation  {
  background: rgba(20, 20, 20, 0.3);
  margin-top: 300px;
  padding: 20px;
  font-size: 25px;
}
